body {
    background-image: url("../img/index_back.jpg");
    background-size: 1750px;
    background-repeat: no-repeat;
}

.nav {
    background-color: rgba(255,255,255,0.5);
    width: 1450px;
    height: 100px;
    padding: 0px 20px;
    margin-left: 15px;
  
}
.nav a img{
    float: left;
    margin-top: 5px;
}

.menu li {
    list-style: none;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    float: right; 
    line-height: 70px;
    font-family: 'Pangolin', cursive;
}
.menu li a {
    display:block;
    color:dimgray;
    text-decoration: none;
    font-size: 18px;
   
}
.menu li a:hover{
    color:darkcyan;
}
.intro{
    height: 700px;
    line-height: 140px;
}

.intro .info {
    width: 240px;
    margin: auto;
font-family: 'Pangolin', cursive;
    
}
.intro a{
    font-size: 30px;
    text-align: center;
    color: white;
    border: 5px solid;
    padding: 20px 50px 20px 50px;
    text-decoration: none;
}
.intro #clock{
    color: white;
    font-size: 100px;
    text-align: center;
    line-height: 30px;

}
#day{
    color: white;
    font-size: 50px;
    text-align: center;
    line-height: 50px;
    margin-top: 150px;
font-family: 'Pangolin', cursive;
}
